<Configuration status="WARN" packages="net.minecrell.terminalconsole,io.sentry.log4j2">
    <Appenders>
        <TerminalConsole name="Console">
            <PatternLayout noConsoleNoAnsi="true"
                           pattern="[%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} %15.15t %-40.40C{1.} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow, INFO=green, DEBUG=magenta, TRACE=blue}]: %minecraftFormatting{%msg}%n"/>
        </TerminalConsole>

        <RollingRandomAccessFile name="File" fileName="logs/tsuseronlinenotify.log"
                                 filePattern="logs/$${date:yyyy-MM}/node-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout
                    pattern="[%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} %t %c %p]: %minecraftFormatting{%msg}{strip}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <Sentry name="Sentry"
                minimumBreadcrumbLevel="DEBUG"
                minimumEventLevel="ERROR"
        />

        <Async name="AsyncFile">
            <AppenderRef ref="File"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncFile"/>
            <AppenderRef ref="Sentry"/>
        </Root>
    </Loggers>
</Configuration>